<span class="label">{{title}}</span>
<div class="date">
  {{input value=(readonly value) change=(action "valueChanged") disabled=disabled class="date-text-field" style="flex-grow:1;"}}
  {{#unless disabled}}
    <button type="button" {{action toggleProperty "showPika"}}>
      <img src="assets/images/calendar.png" title="Choose Date" />
    </button>
  {{/unless}}
</div>
{{#if showPika}}
  {{#modal-dialog hasOverlay=true translucentOverlay=true onClickOverlay=(action toggleProperty "showPika")}}
    {{pikaday-inputless value=(readonly valueDate) onSelection=(action "valueDateChanged") format="YYYY-MM-DD"}}
  {{/modal-dialog}}
{{/if}}
