<table class="incoming-transfers-table" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Date</th>
      <th>Transfer Id</th>
      <th>Value</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedList as |incomingTransfer|}}
      <tr>
        <td>{{incomingTransfer.date}}</td>
        <td>{{incomingTransfer.transferId}}</td>
        <td class="money">{{money incomingTransfer.value}}</td>
        <td class="actions">
          <button class="delete" {{action "remove" incomingTransfer}}>Delete</button>
        </td>
      </tr>
    {{/each}}
</tbody>
</table>
