<fieldset>
  <legend>{{title}}</legend>
  {{date-field value=model.date}}
  {{money-field title="Value" value=model.value}}
  <div class="submit">
    <button type="submit">{{submitText}}</button>
  </div>
</fieldset>
