@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html,body,div{
  box-sizing: border-box;
  font-family: Arial;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.warning-list{
  color: #4a6da7;
  border: 2px solid #4a6da7;
  border-radius: 5px;
  margin-bottom: 44px;
  padding: 10px 30px;
}

form{
  padding: 10px;
}

fieldset{
  border: 2px solid #4a6da7;
  border-radius: 5px;
}

legend{
  font-size: 18px;
  font-weight: bold;
}

.field{
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.field .label{
  width: 50%;
  line-height: 30px;
}

input,select{
  width: 50%;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  border: 1px solid #4a6da7;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #FFF;
}

input:focus,select:focus{
  outline-color: #4a6da7;
}

.ember-view button{
  background-color: #4a6da7;
  color: #FFF;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  border: none;
}

.ember-view button[disabled=true]{
  opacity: 0.5;
}

.ember-view .submit button{
  width: 300px;
  margin: 10px 0;
}

.money-field input{
  text-align: right;
}

.total-field .value{
  display: block;
  flex-grow: 1;
  line-height: 40px;
  color: #4a6da7;
  font-weight: bold;
  text-align: right;
  padding: 0 6px;
}

.field:nth-child(odd), table.crud-table tbody tr:nth-child(odd){
  background-color: #F6F6F6;
}

.date-field .date{
  display:flex;flex-direction:row;width:50%;
}

.date-text-field{
  flex-grow: 1;
}

.date-field .date button{
  margin: 0 0 0 5px;
  padding: 2px 4px;
  width: auto;
}

table{
  width: 100%;
}
th{
  padding: 4px;
  border-bottom: 2px solid #4a6da7;
  text-align:left;
}
td{
  white-space: nowrap;
  padding: 4px;
}
td.money,td.actions,th.money{
  text-align: right;
}

.ember-view table.crud-table tbody tr td button{
  margin: 0;
  width: auto;
}

.list{
  padding: 10px;
}

.popup-content{
  width:300px;
}

form.popup-content{
  padding: 10px 0;
}

.popup-content fieldset{
  border: none;
  padding: 0;
}

.unprocessed{
  color: #888;
}

.main-menu a{
  display: block;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  background-color: #4a6da7;
  color: #FFF;
  margin: 4px 4px;
}

a{
  color: #4a6da7;
}

.home-button{
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  display: block;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}
.home-button img{
  width: 32px;
  height: 32px;
  margin: 14px 5px 0 0;
}

.toast-top-right{
  top: 0;
  right: 0;
}

#toast-container>div.toast{
  border-radius: 0;
  opacity: 1;
}

.toast-info{
  background-color: #4a6da7;
}

.ember-pikaday-container .pika-prev,
.ember-pikaday-container .pika-next{
  width: 30px;
  background-color: #FFF;
}

.ember-pikaday-container .pika-button{
  text-align: center;
  line-height: 30px;
}

h1,h2{
  padding: 40px 0px 5px 0px;
  margin: 0;
}

.statement{
  padding: 0 10px 10px 10px;
}

.statement .table-container{
  overflow: auto;
  width: 100%;
}

.total td{
  border: 2px solid #4a6da7;
  border-left: none;
  border-right: none;
}

.total:first-child td{
  border-right: none;
  border-top: none;
}

.bold{
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .mobile-only{
    display: none;
  }
  .main-menu a{
    width: 300px;
    margin-left: 20px
  }
  .toast{
    border-bottom-left-radius: 5px;
  }
  .ember-view .submit{
    padding-left: 50%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {

  .ember-view button.button,
  .ember-view .submit button{
    width: 100%;
    line-height: 40px;
    height: 40px;
  }

  .ember-view td{
    line-height: 40px;
  }

  .not-mobile{
    display: none;
  }

  #toast-container{
    width: 100%;
  }

  #toast-container>div.toast{
    width: 100%;
    border-radius: 0;
    line-height: 36px;
  }

  #toast-container .toast-close-button{
    top: 0.3em;
    right: 0;
  }

  .report-actions{
    display: flex;
    flex-direction: row;
  }
  .report-actions button,
  .report-actions a{
    display: block;
    flex-grow: 1;
  }
  .report-actions a{
    padding-left: 5px;
  }
  .report-actions a button{
    width: 100%;
  }
  .report-actions input{
    width: 100%;
  }
}


@media print {
  @page {
    size: A4 portrait;
    margin: 0;
    orphans: 0;
    widows: 0;
  }
  .main-menu,.warning,.home-button,.print-form{
    display: none;
    visibility: hidden;
  }
  .s26-page1,.s30-page1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    page-break-after: always;
    page-break-inside: avoid;
    margin: 0;
  }
  .s26-page2,.s30-page2{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    page-break-inside: avoid;
    margin: 0;
  }
  .statement{
    padding: 0 30px;
    font-size: 14px;
    th, .total td{
      border-color: #AAA;
    }
  }
}
